{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
